<%- include ('partials/header') %>


<h1>you fell in love with :<%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
	<p>good choice ! rusty is the best</p>
<% } %>

<%- include ('partials/footer') %>
